@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Cabin';
    background-color: #a6b8ce;
}

#tentacles {
    width: 50px;
}

.header {
    display: flex;
    background-color: lightblue;
    padding: 1%;
    padding-right: 2%;
    align-items: center;
    justify-content: space-between;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    box-shadow: 0 7px 10px -10px black;
}

.header-left, .header-right {
    display: flex;
}

.header-left {
    gap: 5px;
}

.nav-text {
    color: rgb(46, 55, 63);
    padding: 0.3rem 0.6rem;
    font-weight: 600;
    font-size: 1.4rem;
    text-decoration: none;
}
.nav-text:hover {
    cursor: pointer;
    background-color: rgba(84, 84, 84, 0.418);
    color: rgb(216, 233, 248);
}
.stats-container {
    display: flex;
    align-items: center;
}

/* .stats-container:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
} */
.stats-card {
    background-color: #9ab7e2;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
    box-shadow: 0 0 12px rgb(47, 72, 81);
    transition: transform 1s ease-out;
}

.stats-card:hover {
    cursor: pointer;
    transform: translate(0 ,-5px);
}
#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
}

button:hover {
    background-color: rgb(122, 122, 122);
    cursor: pointer;
    color: lightblue;
}

.search-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

#searchbar {
    width: min(50%, 500px);
    height: 1.5rem;
    display: flex;
    align-items: center;
    padding: 0.1rem 0.3rem;
    font-family: 'Cabin', system-ui, sans-serif;
    border: 1px solid gray;
    border-radius: 5px;
}

#searchbar:focus {
    border: 2px solid rgb(0, 128, 255);
    outline: none;
}

.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
}

.not-found > h2 {
    margin-bottom: -10px;
}

.not-found > p {
    font-size: 1rem;
    color: rgb(87, 87, 87);
    font-style: italic;
}